<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBindingWinForms.Properties.Settings.WideWorldImportersConnectionString"
            connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=WideWorldImporters;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>