@model TodoActivity
@{
    ViewData["Title"] = "Modifica Attività";
}

<h1>Modifica Attività</h1>

<form asp-action="EditActivity">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="control-label"></label>
        <input asp-for="Notes" class="form-control" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Completed" class="control-label"></label>
        <input asp-for="Completed" class="form-control" />
        <span asp-validation-for="Completed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
    </div>
</form>